<!DOCTYPE html>
<html>
  <head>
    <title>Doc Trail App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  </head>
  <body ng-app="app">
    <h1></h1>
    <main></main>
    <script src="javascripts/angularApp.js"></script>
    <script src="components/main/main.component.js"></script>
    <script src="components/main/main.controller.js"></script>

  </body>
</html>
