html, body {
  width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 85vh;
  width: 100%;
}

#location-input {
  margin-top: 20px;
}